################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3/storage.ide-wal
