################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3/storage.ide-wal
/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3/storage.ide-shm
/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3/storage.ide
/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3/db.lock
/.vs/CSharp-Pragmatic-2018/v15/Server/sqlite3
/.vs/CSharp-Pragmatic-2018/v15/.suo
/.vs/CSharp-Pragmatic-2018/v15
/Arrays/obj/Debug
/ChessPOC/obj/Debug
/ChessPOC-SMG/Chess/obj/Debug
/CSharp-HomeWork-01/obj/Debug
/CSharp-HomeWork-02/obj/Debug
/CSharp-HomeWork-02 v2/obj/Debug
/Cycles/obj/Debug
/StringCreation/obj/Debug
/StructSample/obj/Debug
