Домашна работа
1. Изберете и запишете следните стойности в променливи от оптималният за тях тип:
4, true, 1523555666, -55.25, 7534888321, 512355215.555, 4.123456789012345678901234, c, "Текст"
2. Декларирайте променлива и я инициализирайте със следната стойност:
The "quick brown\" fox jumped/ over \\ the river. ""Another"
sentence on a new 'line".
Отпечатайте резултата в конзолата.
3. Напишете програма, чиято цел е да изчисли заплата за 5 години на служител в дадена компания.
Програмата приема пита потребителя за месечната заплата на служителя.
4. Напишете програма, която решава уравненията от слайд 23 от презентацията използвайте посочените примерни методи от класа Math.