Домашна работа
1. Напишете програма, която да приема вход от потребителя: две имена, ЕГН, адрес, град,
община, основна брутна заплата и години стаж.
a. Ако потребителя не въведе подходящи данни да се изисква повторно въвеждане
(пр. ако за ЕГН се въведе вход различен от 10 цифри, за стаж стойност която не е
реално число)
b. Съхранете данните в подходящи типове
c. Програмата да представи в конзола:
i. Брутна заплата с включена добавка за клас прослужено време, която е
представена като основна брутна заплата плюс 0.6% за всяка пълна година
стаж (пр. при 100 лева основна брутна заплата, 1 г. и 9 м. стаж = 100.6 лева
брутна заплата)
ii. Нетна заплата, която е изчислена при следните данъчни ставки: за
максимален осигурителен праг до 2600 лева се плащат 6.58% (фонд
Пенсии), 1.4% (фонд ОЗМ), 0.4% (фонд Безработица), 2.2% (фонд ДЗПО),
3.2% (Здравно Осигуряване). Допълнително са приспаднати 10% за ДДФЛ
iii. Брутна заплата с включена добавка за клас прослужено време за цяла
година
iv. Нетна заплата за цяла година

* с изключение на ДДФЛ, при доход над максималния осигурителен праг, данъчната
ставка се изчислява за 2600 лева
** горните изчисления не претендират за коректност с текущото законодателство
*** дано да няма счетоводители в групата...😊
2. Намерете произведение (умножението) на всички числа в интервала [N...M]. N и M се
въвеждат от потребителя.
3. Реализирайте собствен вариант на метода Pow. (N^M). N и M се въвеждат от потребителя.
